.single-course{
    height:430px;
    width:30%;
    float:left;
    padding:29px;
    margin:15px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    border-radius:5px;
    box-shadow:5px 5px 10px lightgray, -5px -5px 10px lightgray ;
    
}
.single-course img{
    height:135px;
    margin:0 0 10px 0
    
}
.course-title, .course-description{
    width:240px;
}
.course-title{
    
    line-height:22px;
    
    color:rgb(75, 74, 74);
}
.course-description{
    font-size:15px;
    color:rgb(87, 86, 86);
}
.enroll-button{
    padding:0 5px;
    font-weight:700;
}
.course-price{
    color:darkorange;
}