.course-container{
  display:flex;
  width:100%;
  
}
.title{
  margin-right:300px;
  padding:15px;
}
.fullpage{
  background:rgba(117, 209, 252, 0.397);
}
.header-title{
  margin:0;
}
.cart{
  width:100%;
  border-left:1px solid lightgray;
  position: sticky;
  height:100%;
  top:70px;
    
    
}
.header{
  margin-bottom:30px;
  position:sticky;
  top:0;
  z-index: 1;
}